**/node_modules
out
**/dist
**/build
**/.next
**/.turbo
.turbo
.git
.gitignore
**/coverage
.playwright-mcp
*.png
**/*.log
**/.DS_Store
**/.env
**/.env.*
!**/.env.example
**/generated/prisma
**/.vscode
**/.idea
