PROD_POSTGRES_USER=booknest
PROD_POSTGRES_PASSWORD=
PROD_POSTGRES_DB=booknest
PROD_TAG=prod
PROD_LOG_LEVEL=info
PROD_ENABLE_SWAGGER=false

DEV_POSTGRES_USER=booknest
DEV_POSTGRES_PASSWORD=
DEV_POSTGRES_DB=booknest
DEV_TAG=dev
DEV_LOG_LEVEL=debug
DEV_ENABLE_SWAGGER=true

API_IMAGE=ghcr.io/srh-yakovenko-ua/booknest-api
WEB_IMAGE=ghcr.io/srh-yakovenko-ua/booknest-web
